# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Angular
/dist
/tmp
/out-tsc
/bazel-out
/node_modules
/.angular/cache
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# Firebase
.firebase/
firebase-debug.log
firebase-debug.*.log

# IDE
.idea/
.vscode/
*.swp
*.swo

# Environment
/src/environments/environment.ts
/src/environments/environment.prod.ts

# Misc
.DS_Store
Thumbs.db
